<footer>
  <nav>
    <ul>
      <li>
        <a href="https://www.facebook.com/Psiloshock" target="_blank"
          ><img src="../../assets/img/facebook.png" alt="Facebook icon"
        /></a>
      </li>
      <li>
        <a href="https://soundcloud.com/loiclion" target="_blank"
          ><img src="../../assets/img/soundcloud.png" alt="Soundcloud icon"
        /></a>
      </li>
      <li>
        <a href="https://psiloshock.bandcamp.com/" target="_blank"
          ><img
            src="../../assets/img/logo-du-bc-bandcamp.png"
            alt="Bandcamp icon"
        /></a>
      </li>
      <li>
        <a href="https://www.mareebass.fr/psiloshock" target="_blank"
          ><img
            src="../../assets/img/Logo Marée BASS.webp"
            alt="Maree Bass logo"
        /></a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/evenslot" target="_blank"
          ><img src="../../assets/img/youtube.png" alt="Youtube icon"
        /></a>
      </li>
    </ul>
  </nav>
</footer>
