<main>
  <section>
    <article *ngIf="musicData" class="container__discography">
      <h2>Album & EP</h2>
      <div class="container__discography__cd">
        <div
          class="container__discography__cd__info"
          *ngFor="let cd of musicData.discography"
        >
          <h3>{{ cd.title }}</h3>
          <img class="artwork-cd" [src]="cd.image" alt="Artwork for  " />
          <p>Genre: {{ cd.genre }}</p>
          <ul>
            <li>
              <a [href]="cd.soundcloudLink"
                ><img
                  class="link-cd"
                  src="../../assets/img/soundcloud.png"
                  alt="Icon of Soundcloud"
              /></a>
            </li>
            <li>
              <a [href]="cd.youtubeLink"
                ><img
                  class="link-cd"
                  src="../../assets/img/youtube.png"
                  alt="Icon of Youtube"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <h2>Solo Tracks</h2>
    <article class="container__soudncloud">
      <iframe
        width="100%"
        height="300"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/loiclion&amp;"
      >
      </iframe>
    </article>
  </section>
</main>
