<main>
  <div class="cover">
    <a id="arrow" href="#content">﹀ </a>
  </div>
  <span id="content"></span>
  <section>
    <article *ngIf="releaseData?.release">
      <h2>Last Release</h2>
      <div>
        <img
          class="artwork-release"
          [src]="releaseData.release.image"
          [alt]="releaseData.release.alt"
        />
        <ul>
          <li>
            <a [href]="releaseData.release.soundcloudLink" target="_blank"
              ><img
                class="icone-social"
                src="../../assets/img/soundcloud.png"
                alt="Icon of Soundcloud"
            /></a>
          </li>
          <li>
            <a [href]="releaseData.release.youtubeLink" target="_blank"
              ><img
                class="icone-social"
                src="../../assets/img/youtube.png"
                alt="Icon of Youtube"
            /></a>
          </li>
        </ul>
      </div>
    </article>

    <article class="container__facebook">
      <h2>Latest Posts :</h2>
      <div *ngFor="let post of latestPosts">
        <p>{{ post.message }}</p>
        <a
          [href]="
            'https://www.facebook.com/Psiloshock/posts/' + post.id.split('_')[1]
          "
          target="_blank"
        >
          <img src="../../assets/img/lien.png" alt="icon for link" />
        </a>
      </div>
    </article>
  </section>
  <section id="second-section">
    <article class="container__video">
      <iframe
        src="https://www.youtube.com/embed?listType=playlist&list=UUKJR5YXH5xpBmdPbgnVZ67w"
      >
      </iframe>
    </article>
  </section>
</main>
