@import "../../mixin.scss";
@import "~normalize.css";

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  .cover {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/image3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    #arrow {
      font-size: 50px;
      align-self: center;
      color: white;
      cursor: pointer;
      transition: scale 0.2s;
      text-decoration: none;
      &:hover {
        scale: 1.2;
      }
    }
  }

  section {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    @include responsive-desktop {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .aboutme {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 548px;
      row-gap: 30px;
      align-self: center;

      h4 {
        font-size: 60px;
        font-weight: bold;
        #green {
          color: green;
        }
        #yellow {
          color: yellow;
        }
        #red {
          color: red;
        }
      }

      nav {
        ul {
          display: flex;
          justify-content: center;
          column-gap: 10px;
          @include responsive-desktop {
            column-gap: 30px;
          }
          li {
            a {
              img {
                height: 40px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid rgb(255, 255, 255);
                transition: scale 0.2s;

                @include responsive-desktop {
                  height: 50px;
                }

                &:hover {
                  scale: 1.1;
                }
              }
            }
          }
        }
      }
      div {
        height: auto;
        width: 350px;
        @include responsive-desktop {
          width: 640px;
          height: 360px;
        }
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    article {
      width: 350px;

      @include responsive-desktop {
        width: 450px;
      }

      .bio-carte {
        align-self: normal;

        &:last-child {
          margin-top: 50px;
        }
        @include responsive-desktop {
          align-self: center;
        }
      }
      h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: "Khand";
        text-transform: uppercase;
      }
      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 0px 15px 0px 15px;
        font-weight: bold;
        @include responsive-desktop {
          padding: 0px;
        }
      }
      p {
        margin-bottom: 10px;
        padding: 0px 15px 0px 15px;
        text-align: justify;
        @include responsive-desktop {
          padding: 0px;
        }
      }
      div {
        .artwork-release {
          height: auto;
          width: 350px;
          margin-bottom: 20px;
          border-radius: 3px;
          box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.253);
          @include responsive-desktop {
            width: 450px;
          }
        }
        ul {
          display: flex;
          justify-content: space-around;
          margin-bottom: 50px;
          li {
            a {
              .icone-social {
                height: 100px;
                width: auto;

                transition: scale 0.2s;
                &:hover {
                  scale: 1.1;
                }
              }
            }
          }
        }
      }
    }

    .container__facebook {
      div {
        background-color: rgba(255, 255, 255, 0.596);
        box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.253);
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        overflow: visible;
        border-radius: 3px;
        transition: scale 0.2s;
        &:hover {
          background-color: white;
          scale: 1.05;
        }
        p {
          padding: 10px;
          overflow-wrap: break-word;
          width: 350px;
          word-wrap: break-word;
          overflow: hidden;
          @include responsive-desktop {
            width: 400px;
          }
        }
        a {
          img {
            height: 20px;
            padding: 5px;
            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
  #black {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    @include responsive-desktop {
      height: 100vh;
      align-items: center;
    }
  }

  #second-section {
    flex-direction: column;
    margin-top: 60px;
    .container__video {
      flex-direction: column;
      display: flex;
      width: 100%;
      margin-bottom: 130px;
      @include responsive-desktop {
        margin-top: 80px;
        width: 1000px;
        align-self: center;
      }

      iframe {
        align-self: center;
        width: 350px;
        height: 180px;
        box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.363);
        @include responsive-desktop {
          width: 854px;
          height: 480px;
        }
      }
    }
  }
}
