@import "../../mixin.scss";
@import "~normalize.css";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  .cover {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/image3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    #arrow {
      font-size: 50px;
      align-self: center;
      color: white;
      cursor: pointer;
      transition: scale 0.2s;
      text-decoration: none;
      &:hover {
        scale: 1.2;
      }
    }
  }
  section {
    margin-top: 130px;

    column-gap: 100px;
    display: flex;
    flex-direction: column;
    @include responsive-desktop {
      flex-direction: row;
      justify-content: center;
    }
    article {
      width: 350px;
      @include responsive-desktop {
        width: 450px;

        align-self: flex-start;
      }
      h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: "Khand";
      }
      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
      div {
        .artwork-release {
          height: auto;
          width: 350px;
          margin-bottom: 20px;
          border-radius: 3px;
          box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.253);
          @include responsive-desktop {
            width: 450px;
          }
        }
        ul {
          display: flex;
          justify-content: space-around;
          margin-bottom: 50px;
          li {
            a {
              .icone-social {
                height: 100px;
                width: auto;

                transition: scale 0.2s;
                &:hover {
                  scale: 1.1;
                }
              }
            }
          }
        }
      }
    }

    .container__facebook {
      div {
        background-color: rgba(255, 255, 255, 0.596);
        box-shadow: 1px 5px 6px 0px rgba(0, 0, 0, 0.253);
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        overflow: visible;
        border-radius: 3px;
        transition: scale 0.2s;
        &:hover {
          background-color: white;
          scale: 1.05;
        }
        p {
          padding: 10px;
          overflow-wrap: break-word;
          width: 350px;
          word-wrap: break-word;
          overflow: hidden;
          @include responsive-desktop {
            width: 400px;
          }
        }
        a {
          img {
            height: 20px;
            padding: 5px;
            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
  #second-section {
    flex-direction: column;
    .container__video {
      flex-direction: column;
      display: flex;
      width: 100%;
      margin-bottom: 130px;
      @include responsive-desktop {
        width: 1000px;
      }

      iframe {
        align-self: center;
        width: 350px;
        height: 180px;
        @include responsive-desktop {
          width: 854px;
          height: 480px;
        }
      }
    }
  }
}
