<main>
  <article *ngIf="releaseData?.release">
    <h2>Last Release</h2>
    <h3>{{ releaseData.release.cd }}</h3>
    <div>
      <img
        class="artwork-release"
        [src]="releaseData.release.image"
        [alt]="releaseData.release.alt"
      />
      <ul>
        <li>
          <a [href]="releaseData.release.soundcloudLink"
            ><img
              class="icone-social"
              src="../../assets/img/soundcloud.png"
              alt="Icon of Soundcloud"
          /></a>
        </li>
        <li>
          <a [href]="releaseData.release.youtubeLink"
            ><img
              class="icone-social"
              src="../../assets/img/youtube.png"
              alt="Icon of Youtube"
          /></a>
        </li>
      </ul>
    </div>
  </article>

  <article>
    <h2>Last Video</h2>
    <iframe
      src="https://www.youtube.com/embed?listType=playlist&list=UUKJR5YXH5xpBmdPbgnVZ67w"
    >
    </iframe>
  </article>
  <article>
    <h2>Last Posts on Facebook :</h2>
    <div *ngFor="let post of latestPosts">
      <p>{{ post.message }}</p>
      <a
        [href]="
          'https://www.facebook.com/Psiloshock/posts/' + post.id.split('_')[1]
        "
      >
        <img src="../../assets/img/lien.png" alt="icon for link" />
      </a>
    </div>
  </article>
</main>
