@import "../../mixin.scss";
@import "~normalize.css";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 5;
  section {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    @include responsive-tablet {
      height: 70px;
    }
    @include responsive-desktop {
      height: 60px;
    }

    div {
      padding-top: 0px;
      display: flex;
      align-items: center;
      z-index: 10;
      @include responsive-tablet {
        padding-top: 10px;
      }
      @include responsive-desktop {
        padding-top: 20px;
      }
      .logo {
        margin-top: 10px;
        height: 70px;
        padding: 0px 0px 0px 0px;
        @include responsive-tablet {
          padding: 0px 30px 0px 30px;
        }
        @include responsive-desktop {
          padding: 0px 30px 0px 30px;
        }
      }
      h1 {
        line-height: 0px;
        font-size: 40px;
        font-family: "Unica One", cursive;
        font-weight: 400;
        @include responsive-tablet {
          font-size: 45px;
        }
        @include responsive-desktop {
          font-size: 50px;
        }
      }
    }
    .burger {
      display: block;
      background-color: #ffffff00;
      border: none;
      color: #eee;
      font-size: 45px;
      margin-right: 20px;
      cursor: pointer;
      @include responsive-desktop {
        display: none;
      }
    }
    .burger-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #3a3a3afa;
      box-shadow: -20px 0px 20px 0px rgba(0, 0, 0, 0.315);
      position: absolute;
      top: 0px;
      right: -6000px;
      width: 70vw;
      height: 100vh;

      transition: right 0.4s;
      z-index: 11;
      &.active {
        right: 0;
      }

      @include responsive-tablet {
        display: block;
      }
      @include responsive-desktop {
        display: none;
      }
      button {
        background-color: #ffffff00;
        border: none;
        padding: 20px;
        align-self: flex-end;
        img {
          height: 40px;
          box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.315);
          border-radius: 50%;
          border: 1px solid white;
        }
      }
      ul {
        li {
          margin: 0px 0px 30px 20px;
          a {
            text-decoration: none;
            list-style-type: none;
            color: rgba(255, 255, 255, 0.719);
            font-size: 30px;
            &.active {
              color: rgb(255, 255, 255);
              font-weight: bold;
            }
          }
        }
      }
    }
    .navbar {
      z-index: 10;
      display: none;
      font-family: "Quicksand", sans-serif;
      @include responsive-tablet {
        display: none;
      }
      @include responsive-desktop {
        display: block;
      }
      ul {
        display: flex;

        li {
          list-style-type: none;
          padding-top: 28px;
          margin-right: 40px;
          &:last-child {
            margin-right: 80px;
          }

          a {
            text-decoration: none;
            font-size: 25px;

            color: rgba(255, 255, 255, 0.658);

            &:visited {
              color: rgba(255, 255, 255, 0.658);
            }

            &:hover {
              transition: color 0.8s;
              color: rgb(255, 255, 255);
              border-bottom: 2px solid;
            }
            &.active {
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
  }
  .header__svg {
    width: 100%;
  }
}
