<header>
  <img />
  <h1>Psiloshock</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="music"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Music</a
        >
      </li>
      <li>
        <a
          routerLink="tour-date"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tour Date</a
        >
      </li>
      <li>
        <a
          routerLink="photo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Photo</a
        >
      </li>
      <li>
        <a
          routerLink="about-me"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About Me</a
        >
      </li>
      <li>
        <a
          routerLink="contact-me"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact Me</a
        >
      </li>
    </ul>
  </nav>
</header>
