<header>
  <section>
    <div>
      <img class="logo" src="../../assets/img/logo.png" />
      <h1>Psiloshock</h1>
    </div>
    <button class="burger">☰</button>
    <nav class="navbar">
      <ul>
        <li>
          <a
            routerLink=""
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="music"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Music</a
          >
        </li>
        <li>
          <a
            routerLink="tour-date"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tour Dates</a
          >
        </li>
        <li>
          <a
            routerLink="photo"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Photo</a
          >
        </li>
        <li>
          <a
            routerLink="about-me"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About Me</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <img class="header__svg" src="../../assets/img/Sans-titre.svg" />
</header>
