<header [ngClass]="{ 'header-scroll': isScrolled }">
  <section>
    <div>
      <img class="logo" src="../../assets/img/logo.png" />
      <h1>Psiloshock</h1>
    </div>
    <button class="burger" (click)="toggleMenu()">☰</button>
    <nav class="burger-menu" [ngClass]="{ active: isMenuOpen }">
      <button (click)="closeMenu()">
        <img
          src="../../assets/img/marque-de-croix.png"
          alt="Close menu burger icon"
        />
      </button>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="music"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Music</a
          >
        </li>
        <li>
          <a
            routerLink="tour-date"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tour Dates</a
          >
        </li>
        <li>
          <a
            routerLink="photo"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Gallery</a
          >
        </li>
      </ul>
    </nav>
    <nav class="navbar">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="music"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Music</a
          >
        </li>
        <li>
          <a
            routerLink="tour-date"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tour Dates</a
          >
        </li>
        <li>
          <a
            routerLink="photo"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Gallery  </a
          >
        </li>
      </ul>
    </nav>
  </section>
  <!-- <img class="header__svg" src="../../assets/img/Sans-titre.svg" /> -->
</header>
